body{
    margin:0;
}

.container{
    border: 8px solid #FF851B;
    width: 500px;
    height: 500px;
    margin: 60px auto;
    background-color: #1a1a1a;
}

.logRegTab{
    /*border: 3px solid black;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.logOption{
    color: white;
    padding: 6px 12px;
}

a.logOption:link{
    font-weight: bold;
    font-size: 25px;
    background-color: #0074D9;
    text-decoration: none;
    border-radius: 15px;
}

a.logOption:hover{
    text-decoration: none;
    color: #0074D9;
    background-color: white;
}

.regOption{
    color: white;
    padding: 6px 12px;
}

a.regOption:link{
    font-weight: bold;
    font-size: 25px;
    background-color: #0074D9;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

a.regOption:hover{
    text-decoration: none;
    color: #0074D9;
    background-color: white;
}

.logRegContent{
    /*border: 3px solid white;*/
}

.loginContent{
    /*border: 3px solid white;*/
}

.registerContent{
    /*border: 3px solid white;*/
    display: none;
}

.loginContent> p, .registerContent> p{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.forgotPass> a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.input{
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    color: #0074D9;
    padding: 6px 12px;
    margin: 15px 0px;
}

.loginContent> form, .registerContent> form{
    text-align: center;
}

.btn{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #0074D9;
    padding: 6px 12px;
    margin: 15px 0px;
    cursor: pointer;
}

.profile-body{
    /*border: 3px solid white;*/
    padding: 8px 20px;
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.profile-mssg1{
    font-size: 15px;
    background-color: #2ECC40;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin-top: 0;
}

.profile-mssg2{
    font-size: 15px;
    background-color: #FF4136;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin-top: 0;
}

.user-details1{
    font-size: 27px;
}

.user-details2{
    font-size: 22px;
    color: #0074D9;
}

.forgot-body{
    /*border: 3px solid white;*/
    padding: 8px 20px;
    margin-top: 60px;
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/*
.after-forgot-body{
    border: 3px solid white;
    padding: 8px 20px;
    margin-top: 60px;
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: none;
}
*/

.logout-body{
    /*border: 3px solid white;*/
    padding: 8px 20px;
    margin-top: 60px;
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
